.hero__section {
  height: 80vh;
  margin: 0.5em 0;
  position: relative;
  background-color: var(--grey-800);
  box-shadow: 7.5px 7.5px 10px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 7.5px 7.5px 10px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 7.5px 7.5px 10px 0px rgba(0, 0, 0, 0.5);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .hero__section__content {
    position: absolute;
    bottom: 0;
    margin: 0 0 1.5rem 1.5rem;
    width: 70%;

    .post__snippet {
      h1 {
        a {
          font-size: 3rem;
          font-family: "CB";
          color: var(--grey-0);
          letter-spacing: -0.08rem;
        }
      }

      .snippet__meta {
        margin: 0.2rem 0;
        font-size: 1rem;
        font-family: "RR";
        word-spacing: 0.15rem;

        span {
          font-size: 1.04rem;
          font-family: "RM";
          font-weight: 500;
          letter-spacing: 0.05rem;
          word-spacing: 0rem;
        }
      }

      .snippet__body {
        margin: 0.5rem 0;
        word-spacing: 0.1rem;
        font-size: 1.06rem;
        font-family: "RR";
        width: 70%;
      }

      .hero__section__btn {
        margin: 1.24rem 0 0.25rem 0;

        .btn__primary {
          border: 2px solid var(--grey-0);
          background-color: transparent;
          padding: 0.65em 0em;

          a {
            padding: 0.65rem 2.2rem;
            font-size: 1.04rem;
            font-family: "RM";
            font-weight: 500;
            letter-spacing: 0.05rem;
            word-spacing: 0rem;
            color: var(--grey-0);

            &:hover {
              color: var(--grey-800);
            }
          }

          &:hover {
            border: 2px solid var(--grey-0);
            background-color: var(--grey-0);
          }
        }
      }
    }
  }
}
