.navbar__section {
  padding: 1rem 0;

  .page-navbar {
    .page-navbar__content {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .nav-logo {
        a {
          font-size: 2.4rem;
          font-family: "CB";
          font-weight: 900;
          letter-spacing: -0.084rem;
          color: var(--grey-0);
        }
      }

      .nav {
        .nav-list {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 3.5rem;

          li {
            a {
              font-size: 1.14rem;
              font-family: "RR";
              font-weight: 500;
              color: var(--grey-0);
              letter-spacing: 0.09rem;
              padding: 0.38rem 0;
              position: relative;

              &:hover {
                font-family: "RR";
                font-weight: 900;
                color: var(--grey-0);

                &::after {
                  content: "";
                  position: absolute;
                  width: 30px;
                  height: 1.8px;
                  border-radius: 50px;
                  left: 0;
                  right: 0;
                  bottom: 0;
                  margin: 0 auto;
                  background-color: var(--grey-200);
                }
              }
            }
          }
        }
      }
    }
  }
}
