.navbar__section {
  padding: 1rem 0;

  .page-navbar {
    margin: 0 3rem;
    padding: 0 1rem;

    .page-navbar__content {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .nav-logo {
        border: 2px solid var(--grey-900);
        padding: 0.25rem;

        a {
          line-height: 1;
          font-size: 2.5rem;
          font-family: "OB";
          color: var(--grey-900);
        }
      }

      .nav {
        .nav-list {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 3rem;

          li {
            a {
              font-size: 1.25rem;
              font-family: "RR";
              font-weight: 500;
              color: var(--grey-900);
              letter-spacing: 0.05rem;
              padding: 0.5rem 0;
              position: relative;

              &:hover {
                font-family: "RR";
                font-weight: 900;
                color: var(--grey-900);

                &::after {
                  content: "";
                  position: absolute;
                  width: 30px;
                  height: 1.8px;
                  border-radius: 50px;
                  left: 0;
                  right: 0;
                  bottom: 0;
                  margin: 0 auto;
                  background-color: var(--grey-900);
                }
              }
            }
          }
        }
      }
    }
  }
}
