.bg-blend {
  background-color: rgba($color: #121519, $alpha: 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero__section__content {
  text-align: center;
  padding: 1rem;
  width: 60%;

  .post__snippet {
    h1 {
      a {
        font-size: 3.5rem;
        font-family: "OR";
        color: var(--grey-0);
        letter-spacing: 0.15rem;
      }
    }

    .snippet__meta {
      margin-bottom: 0.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      color: var(--grey-0);

      span {
        font-size: 1.25rem;
        font-family: "DM";
        font-weight: 500;
        letter-spacing: 0.105rem;
        word-spacing: 0.5rem;
      }
    }

    .snippet__desc {
      margin: 1rem 0 0.5rem;
      word-spacing: 0.1rem;
      font-size: 1.15rem;
      font-family: "DR";
      color: var(--grey-0);
    }

    .hero__section__btn {
      margin: 1.25rem 0 0;

      .btn__primary {
        border: 2px solid var(--grey-0);
        background-color: transparent;
        padding: 0.65em 0em;

        a {
          padding: 0.65rem 2.2rem;
          font-size: 1.25rem;
          font-family: "OM";
          font-weight: 500;
          letter-spacing: 0.15rem;
          word-spacing: 0rem;
          color: var(--grey-0);

          &:hover {
            color: var(--grey-900);
          }
        }

        &:hover {
          border: 2px solid var(--grey-0);
          background-color: var(--grey-0);
        }
      }
    }
  }
}
