.recent-blog__section {
  // border: 2px solid red;
  margin: 1.5rem 3rem;

  .recent-blog__section-content {
    // border: 2px solid red;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    .content-header {
      border: 2px solid var(--grey-900);
      margin: 1rem 1rem;
      padding: 0.5rem;

      .section-title {
        line-height: 1;
        font-size: 2.75rem;
        font-family: "OB";
        color: var(--grey-900);
      }
    }

    .content-blogs {
      // border: 2px solid blue;
      margin: 2rem 0rem;
      width: 100%;
      padding: 1.5rem 5rem;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
    }
  }
}
